<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id ="age" class="com.ict.ex04_DI.Age"></bean>
	
	
	<bean id ="mp" class="com.ict.ex04_DI.MyProcess">
		<!--  생성자 -->
		<constructor-arg name ="name" value="고길동"></constructor-arg>
		<constructor-arg name ="jumin" value="940808"></constructor-arg>
		<constructor-arg name ="gender" value="1"></constructor-arg>
		<!--  위에껄 가져오면 ref  -->
		<constructor-arg name ="age" ref="age"></constructor-arg>
	</bean>
	
	<bean id="mp2" class="com.ict.ex04_DI.MyProcess">
	<property name="name" value="김한별"></property>
	<property name="jumin" value="030501"></property>
	<property name="gender" value="4"></property>
	<property name="age" ref="age"></property>
	
	</bean>
	
	
	

</beans>
